* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(17, 17, 17);
}

header {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;;
    z-index: 1;
    padding-left: 10px;
}

.container {
    background-color: #121212;
    max-width: unset;
    height: 50px;
    z-index: 0;
    padding: 6px;
    padding-left: 40px;
}

.poster {
    background-image: url(https://i.pinimg.com/originals/7f/a2/43/7fa243b1a78cc227e3fed2d878cfecc8.gif);
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 1;
    max-width: unset;
    height: 800px;
    padding-top: 50px;
    padding-left: 50px;

}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;
}

.posterin {
    background-image: url(https://external-preview.redd.it/jujutsu-kaisen-season-2-new-key-visual-v0--3LFznstxvj27z8nTx2VtqYodzMTUiMlm0R-OUUyOJs.jpg?width=640&crop=smart&auto=webp&s=eb362a5200d5857f628ce6a152320d5d051f2c4a);
    width: 420px;
    height: 490px;
    background-size: cover;
    border-radius: 12px;
}

.topic {
    font-family: "Lilita One", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: x-large;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}


.Btnplay {

    font-family: "Lilita One", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: x-large;

    background-color: #ffffff;
    color: #2b2b2b;
    width: 120px;
    border-radius: 12px;

    text-align: center;
    padding: 10px;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    transition: transform 0.4s;
}

.Btnplay:hover {
    transform: scaleX(1.050);
}

.Btninformation {

    font-family: "Lilita One", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: x-large;

    background-color: #303030;
    opacity: 80%;
    color: #ffffff;
    width: 220px;
    border-radius: 12px;

    letter-spacing: 2px;
    text-align: center;
    padding: 13px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    transition: transform 0.4s;
}

.Btninformation:hover {
    transform: scaleX(1.050);
}

.container2 {
    background-color: #121212;
    max-width: none;
    height: 500px;
    white-space: nowrap; /* ทำให้ div ลูกต่อกันในบรรทัดเดียว */
    overflow-x: auto;    /* เปิดการเลื่อนแนวนอน */
    overflow-y: hidden;  /* ไม่ให้เลื่อนแนวตั้ง */
    padding: 10px;       /* เผื่อขอบนิดนึงจะได้ไม่ชน */
    scroll-behavior: smooth; /* เวลาเลื่อนจะลื่นๆ สวย */
    cursor: grab;

    user-select: none;   /* ห้ามเลือกข้อความหรือรูป */
    -webkit-user-drag: none; /* ห้ามลากรูป */
    -webkit-tap-highlight-color: transparent; /* ปิดแสงตอนแตะในมือถือ */
    outline: none; /* ไม่มีกรอบฟ้าเวลาคลิก */
}

.container2:active {
  cursor: grabbing;
}

/* เอา scrollbar ออกให้ดูสะอาด */
.container2::-webkit-scrollbar {
  display: none;
}

.Anime {
    font-family: "Lilita One", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: xx-large;
    color: #ffffff;
    padding: 20px;
}

.Animepost1 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://m.media-amazon.com/images/M/MV5BYWFhOWMxNTYtZThiMi00ZmQ5LTlmODktN2QwNzUyZjMyZGQzXkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Animepost1:hover {
    transform: scale(1.025);
}

.Animepost2 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://static.wikia.nocookie.net/voiceacting/images/b/b1/Sakamoto_Days.jpg/revision/latest?cb=20250202042014);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Animepost2:hover {
    transform: scale(1.025);
}

.Animepost3 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://m.media-amazon.com/images/M/MV5BZDU5ZmEzODYtMDU2OS00NTZiLTk4MWYtYWUyZWUzNGU2ODdjXkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Animepost3:hover {
    transform: scale(1.025);
}

.Animepost4 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://static.wikia.nocookie.net/onepiece/images/8/8a/Arco_Egghead.png/revision/latest?cb=20250411033432&path-prefix=pt);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Animepost4:hover {
    transform: scale(1.025);
}

.Animepost5 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://www.animationmagazine.net/wordpress/wp-content/uploads/My-Hero-Academia-Final-Season.jpg);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Animepost5:hover {
    transform: scale(1.025);
}

.Animepost6 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://m.media-amazon.com/images/M/MV5BMjgyM2QzMjAtOGZjOS00OGFkLTkxZGYtMDJjZGM5MzIzYmM3XkEyXkFqcGc@._V1_.jpg);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Animepost6:hover {
    transform: scale(1.025);
}

.Animepost7 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://external-preview.redd.it/jujutsu-kaisen-season-2-new-key-visual-v0--3LFznstxvj27z8nTx2VtqYodzMTUiMlm0R-OUUyOJs.jpg?width=640&crop=smart&auto=webp&s=eb362a5200d5857f628ce6a152320d5d051f2c4a);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Animepost7:hover {
    transform: scale(1.025);
}

.Animepost8 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://www.za.in.th/wp-content/uploads/90b12b65-za-movie-2021-02-03-01-725x1024.jpg);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Animepost8:hover {
    transform: scale(1.025);
}

.Animepost9 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://m.media-amazon.com/images/M/MV5BMjQ5NWY2OWEtMDdjNC00N2YxLTkxYTctNDJlNmE1MmMzYzU5XkEyXkFqcGc@._V1_.jpg);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Animepost9:hover {
    transform: scale(1.025);
}

.Animepost10 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://mito-obj01.vhostingcloud.com/gonagaiworld/2024/02/saitama-one-punch-man-29-febbraio-scaled.jpeg);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Animepost10:hover {
    transform: scale(1.025);
}

.container3 {
    background-color: #121212;
    max-width: none;
    height: 500px;
    white-space: nowrap; /* ทำให้ div ลูกต่อกันในบรรทัดเดียว */
    overflow-x: auto;    /* เปิดการเลื่อนแนวนอน */
    overflow-y: hidden;  /* ไม่ให้เลื่อนแนวตั้ง */
    padding: 10px;       /* เผื่อขอบนิดนึงจะได้ไม่ชน */
    scroll-behavior: smooth; /* เวลาเลื่อนจะลื่นๆ สวย */
    cursor: grab;

    user-select: none;   /* ห้ามเลือกข้อความหรือรูป */
    -webkit-user-drag: none; /* ห้ามลากรูป */
    -webkit-tap-highlight-color: transparent; /* ปิดแสงตอนแตะในมือถือ */
    outline: none; /* ไม่มีกรอบฟ้าเวลาคลิก */
}

.container3:active {
  cursor: grabbing;
}

/* เอา scrollbar ออกให้ดูสะอาด */
.container3::-webkit-scrollbar {
  display: none;
}

.Cartoon {
    font-family: "Lilita One", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: xx-large;
    color: #ffffff;
    padding: 20px;
}

.Cartoonpost1 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.666);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://www.rotoscopers.com/wp-content/uploads/2021/02/Tom-and-Jerry-Special-Shorts-807x1024.jpg);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Cartoonpost1:hover {
    transform: scale(1.025);
}

.Cartoonpost2 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(249, 249, 249, 0.423);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://m.media-amazon.com/images/M/MV5BNDJhZDg4ZTctN2U3Yy00ODI3LTk0YzAtYjBkOWZiOWY1MTllXkEyXkFqcGc@._V1_.jpg);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Cartoonpost2:hover {
    transform: scale(1.025);
}

.Cartoonpost3 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.541);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://m.media-amazon.com/images/M/MV5BMDI5NmQwZTUtNWI0Mi00MDE2LTkwNzQtMDFmZjRkM2Y1YjEwXkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Cartoonpost3:hover {
    transform: scale(1.025);
}

.Cartoonpost4 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://play-lh.googleusercontent.com/ibmdU4qKfqdtzecOvJDnaEwNez8p4k2yqqpeyPfEh3OMhSFpEPDZg9ISoPQAeOte4Fw);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Cartoonpost4:hover {
    transform: scale(1.025);
}

.Cartoonpost5 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.634);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://static.wikia.nocookie.net/howtotrainyourdragon/images/b/b3/Alternate_Dragon_2_DVD_cover.jpg/revision/latest?cb=20181015044725);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Cartoonpost5:hover {
    transform: scale(1.025);
}

.Cartoonpost6 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.584);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://hips.hearstapps.com/hmg-prod/images/elm-specialty-leanin-1s-v5-740f1-669fbfc18af4f.jpg?crop=1xw:1xh;center,top&resize=980:*);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Cartoonpost6:hover {
    transform: scale(1.025);
}

.Cartoonpost7 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.675);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://images.justwatch.com/poster/323606360/s718/moana-2.jpg);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Cartoonpost7:hover {
    transform: scale(1.025);
}

.Cartoonpost8 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://m.media-amazon.com/images/M/MV5BNThiZjA3MjItZGY5Ni00ZmJhLWEwN2EtOTBlYTA4Y2E0M2ZmXkEyXkFqcGc@._V1_.jpg);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Cartoonpost8:hover {
    transform: scale(1.025);
}

.Cartoonpost9 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://www.crew-united.com/Media/Images/1027/1027816/1027816.entity.jpg);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Cartoonpost9:hover {
    transform: scale(1.025);
}

.Cartoonpost10 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://lumiere-a.akamaihd.net/v1/images/rio_584x800_7a83f253.jpeg);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Cartoonpost10:hover {
    transform: scale(1.025);
}

.container4 {
background-color: #121212;
max-width: none;
height: 500px;
white-space: nowrap;
overflow-x: auto;
overflow-y: hidden;
padding: 10px;
scroll-behavior: smooth;
cursor: grab;
margin-bottom: 20px;

user-select: none;
-webkit-user-drag: none;
-webkit-tap-highlight-color: transparent;
outline: none;
}

.container4:active {
  cursor: grabbing;
}

.container4::-webkit-scrollbar {
  display: none;
}

.Series {
    font-family: "Lilita One", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: xx-large;
    color: #ffffff;
    padding: 20px;
}

.Series1 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.666);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://static0.colliderimages.com/wordpress/wp-content/uploads/sharedimages/2025/06/03112487_poster_w780.jpg);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Series1:hover {
    transform: scale(1.025);
}

.Series2 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(249, 249, 249, 0.423);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://f.ptcdn.info/245/088/000/mbl0wsm9iQo8CTYoumA-o.jpg);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Series2:hover {
    transform: scale(1.025);
}

.Series3 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.541);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://online.pubhtml5.com/xhye/bhpt/files/large/1.jpg?1672733818);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Series3:hover {
    transform: scale(1.025);
}

.Series4 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.662);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://i.mydramalist.com/814BPl_4c.jpg);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Series4:hover {
    transform: scale(1.025);
}

.Series5 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.914);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://i.ebayimg.com/00/s/MTYwMFgxMTc2/z/LnQAAOSwxmFncUOp/$_57.JPG?set_id=880000500F);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Series5:hover {
    transform: scale(1.025);
}

.Series6 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.584);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://m.media-amazon.com/images/M/MV5BMzE0ZDU1MzQtNTNlYS00YjNlLWE2ODktZmFmNDYzMTBlZTBmXkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Series6:hover {
    transform: scale(1.025);
}

.Series7 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.675);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://m.media-amazon.com/images/M/MV5BNTMzNjE0N2ItNjFiYi00NmIzLTk1MzMtZWFjNThjMzI5MTJlXkEyXkFqcGc@._V1_.jpg);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Series7:hover {
    transform: scale(1.025);
}

.Series8 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://www.animenewsnetwork.com/thumbnails/max1000x1500/cms/news/112728/boruto_visual.jpg);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Series8:hover {
    transform: scale(1.025);
}

.Series9 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://images.squarespace-cdn.com/content/v1/5c27df4a372b96a62fef2e22/1576991614393-5N6JG66VZKGT3LUSAZYH/dsa79dysadas);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Series9:hover {
    transform: scale(1.025);
}

.Series10 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://preview.redd.it/the-boys-season-3-got-me-way-hyped-for-this-season-so-in-v0-2kzjj8l0om391.jpg?width=1080&crop=smart&auto=webp&s=01208cc6130bce877affe910edc45a090aa4623d);
    background-size: cover;
    
    width: 300px;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    transition: transform 0.4s;
}

.Series10:hover {
    transform: scale(1.025);
}

.allin {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 3;

    width: auto;
    height: 1600px;
    align-items: center;
    margin: 20px;
}

.videotopic {
    background-image: url(https://i.pinimg.com/originals/7f/a2/43/7fa243b1a78cc227e3fed2d878cfecc8.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    z-index: 3;

    width: auto;
    height: 750px;
}

.backtopic {
    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: xx-large;
    color: #ffffff;
    background-color: #121212;
    width: auto;
    height: 860px;
    z-index: 3;
    margin-top: -15px;
    padding: 5px;
    padding-left: 20px;
}

.hv3 {
    margin-top: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
}

hr {
  border: none;
  height: 2px;
  background-color: #504f4f; /* สีเส้น */
  max-width: none;; /* ความยาวเส้น */
  margin: 20px auto; /* จัดกลาง */
  border-radius: 10px; /* ทำให้ปลายโค้ง */
}

.season-btn {
font-family: Arial, Helvetica, sans-serif;
font-size: large;
border-radius: 10px;
border: 1px solid rgba(255, 255, 255, 0.18);
margin-top: 20px;
padding: 10px;
width: 150px;
text-align: center;
cursor: pointer;
user-select: none;
-webkit-user-drag: none;
margin-bottom: 20px;
color: white;
background-color: #222;
transition: 0.3s;
display: inline-block;
user-select: none;
-webkit-user-drag: none;


}

.season-btn:hover {
  background-color: #333;
  transform: scale(1.05);
}

/* ปุ่มที่ถูกเลือก */
.season-btn.active {
  background-color: #ffffff;
  color: black;
  transform: scale(1.1);
}

.Episode {
    font-family:Arial, Helvetica, sans-serif;
    font-size: xx-large;
    margin-top: 20px;
}

.container5 {
background-color: #121212;
max-height: 400px;
white-space: nowrap;
overflow-y: auto;
overflow-x: hidden;
padding: 10px;
scroll-behavior: smooth;
cursor: grab;
margin-bottom: 20px;

user-select: none;
-webkit-user-drag: none;
-webkit-tap-highlight-color: transparent;
outline: none;
}

.container5:active {
  cursor: grabbing;
}

.container5::-webkit-scrollbar {
  display: none;
}

.Episode1 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.666);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 100px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://i0.wp.com/abstractaf.in/wp-content/uploads/2023/07/jujustsu-cover.png?fit=816%2C490&ssl=1);
    background-size: cover;
    
    width: 300px;
    height: 200px;
    margin-left: -10px;
    margin-top: -100px;
    display: block;
    transition: transform 0.4s;
}

.Episode1:hover {
    transform: scale(1.025);
}

.Episode2 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.666);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://media.butwhytho.net/wp-content/uploads/2023/07/Jujutsu-Kaisen-Season-Episode-2-But-Why-Tho.jpg);
    background-size: cover;
    
    width: 300px;
    height: 200px;
    margin-left: -10px;
    margin-top: -100px;
    display: block;
    transition: transform 0.4s;
}

.Episode2:hover {
    transform: scale(1.025);
}

.Episode3 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.666);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://assets.promediateknologi.id/crop/0x0:0x0/750x500/webp/photo/2023/07/21/Jujutsu-Kaisen_-Apakah-Satoru-Gojo-Mati-di-Episode-4-JJK-Season-2-2813406464.jpg);
    background-size: cover;
    
    width: 300px;
    height: 200px;
    margin-left: -10px;
    margin-top: -120px;
    display: block;
    transition: transform 0.4s;
}

.Episode3:hover {
    transform: scale(1.025);
}

.Episode4 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.666);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://cdn.shopify.com/s/files/1/0568/2298/8958/files/Gojo-Limitless-Cursed-Energy.jpg?v=1734256951);
    background-size: cover;
    
    width: 300px;
    height: 200px;
    margin-left: -10px;
    margin-top: -100px;
    display: block;
    transition: transform 0.4s;
}

.Episode4:hover {
    transform: scale(1.025);
}

.Episode5 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.666);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://animerants.net/wp-content/uploads/2023/08/jujutsu-kaisen-season-2-young-suguru-and-yuki.png?w=1024);
    background-size: cover;
    
    width: 300px;
    height: 200px;
    margin-left: -10px;
    margin-top: -100px;
    display: block;
    transition: transform 0.4s;
}

.Episode5:hover {
    transform: scale(1.025);
}

.Episode6 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.666);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://s.yimg.com/ny/api/res/1.2/TnBcn4SfMu5kl3c7h3ZFMg--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyNDI7aD02OTk7Y2Y9d2VicA--/https://media.zenfs.com/en/comingsoon_net_477/e8ccfd3e2684e76a7d329dbdadb8627e);
    background-size: cover;
    
    width: 300px;
    height: 200px;
    margin-left: -10px;
    margin-top: -100px;
    display: block;
    transition: transform 0.4s;
}

.Episode6:hover {
    transform: scale(1.025);
}

.Episode7 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.666);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://www.leisurebyte.com/wp-content/uploads/2023/09/Jujutsu-Kaisen-Season-2-Episode-7-.jpg);
    background-size: cover;
    
    width: 300px;
    height: 200px;
    margin-left: -10px;
    margin-top: -100px;
    display: block;
    transition: transform 0.4s;
}

.Episode7:hover {
    transform: scale(1.025);
}

.Episode8 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.666);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 2;
    width: 450px;
    height: 550px;
    align-items: center;
    padding: 10px;
    padding-left: 14px;

    background-image: url(https://i.redd.it/jujutsu-kaisen-season-2-episode-8-preview-images-v0-qscgmiecsznb1.jpg?width=1920&format=pjpg&auto=webp&s=533956433f8675e40b96265c5f1b7542d3212071);
    background-size: cover;
    
    width: 300px;
    height: 200px;
    margin-left: -10px;
    margin-top: -100px;
    display: block;
    transition: transform 0.4s;
}

.Episode8:hover {
    transform: scale(1.025);
}

.hv4 {
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    font-size: xx-large;
    margin-left: 350px;
}

.hv5 {
    position: relative;
    top: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-left: 350px;
}

.playmini {
    position: relative;
    top: 100px;
    left: 350px;
    background-color: #ffffff;
    color: #121212;
    text-align: center;
    width: 150px;
    font-size: xx-large;
    border-radius: 12px;
    transition: transform 0.4s;
}

.hv51 {
    position: relative;
    top: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-left: 350px;
    white-space: normal;
    word-wrap: break-word;
}

.playmini1 {
    position: relative;
    top: 80px;
    left: 350px;
    background-color: #ffffff;
    color: #121212;
    text-align: center;
    width: 150px;
    font-size: xx-large;
    border-radius: 12px;
    transition: transform 0.4s;
}

.playmini:hover {
    transform: scaleX(1.075);
}

.playmini1:hover {
    transform: scaleX(1.075);
}

#ss2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: xx-large;
    border-radius: 10px;
    border:1px solid rgba(255, 255, 255, 0.18);
    margin-top: 20px;
    padding: 20px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    margin-bottom: 20px;
}

.show {
  display: block;
  opacity: 1;
  transition: opacity 0.4s ease;
}

